#body_content{
    padding: 150px 200px 30px 10px;
}
#body_content .page_title{
    font-size: 60px;
    color: #e53328;
    font-weight: bold;
}
#body_content .page-top{
    margin-left: 15px;
    margin-top: 20px;
    padding-left: 10px;
    color: blue;
    font-size: 20px;
    margin-bottom: 10px;
}

#top-vip {
    display: flex;
    color: saddlebrown;
    font-size: 15px;
    margin-left: 20px;
    
}

#top-left {
    padding: 10px  0px;
    background: rgb(248, 246, 246);
    width: 260px;
    height: 190px;
   
}
#top-left ul, #top-right ul {
    list-style-type: none;
}
#top-left ul li, #top-right ul li  {   
    line-height: 40px;
}
#top-left a, #top-right a{
    display: block;    
    text-decoration: none;
    font-size: 15px;
    color: rgb(8, 6, 3);
    border-bottom: 2px solid #d45721;
    padding-left: 10px;
}

#top-right {
    margin-left: 10px;
    padding: 10px 0px;
    background: rgb(248, 246, 246);   
    width: 250px;
    height: 190px;
    margin-bottom: 100px;
    
}